<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>Pick license from preset values or enter manually.</string>
			<key>Title</key>
			<string>License</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>5e451ae39c44cbe6085fd51e7f1b443abc49ffe150334fe0cc0902b6df23da95</string>
			<key>Key</key>
			<string>pxp_license</string>
			<key>Title</key>
			<string>Preset</string>
			<key>Titles</key>
			<array>
				<string>Pixpie ON</string>
				<string>Pixpie OFF</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>5e451ae39c44cbe6085fd51e7f1b443abc49ffe150334fe0cc0902b6df23da95</string>
				<string>none</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
